@media screen and (max-width: 922px)
{
.menu-about{
    margin-top: 0px;
  justify-content: start ;
}
.letter{
    display: flex;
}
.line-about{
    display: none;
    justify-items: center;
}
}
.menu-burger{
    display: block;
}