@import 'veriable';
@import 'mixins';
*,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
.header{
  height: 800px;
  padding: 50px 60px 20px 60px;
  background:url(../image/Symbol.svg) no-repeat bottom center,
  url(../image/pattern.svg) no-repeat bottom center,
  linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
  .logo-menu{
    
  }
    
   
