@import url(./font.css);
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: "TT Norms", sans-serif;
}
* a,
body a,
html a {
  text-decoration: none;
}

.header {
  padding: 50px 60px 20px 60px;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.admin {
  background: url("../image/Shade.svg") repeat-x bottom, url("../image/Symbol Long leg.svg") no-repeat bottom center, url("../image/pattern.svg") no-repeat bottom center;
  padding-top: 1px;
}

.admin-1 {
  margin-top: 243px;
}

.haeder-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.haeder-menu .menu-rekvszit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.haeder-menu .uk,
.haeder-menu .en {
  margin: 5px;
}
.haeder-menu .link-uk,
.haeder-menu .link-ru,
.haeder-menu .link-en {
  color: #fff;
  font-size: 14px;
  color: #fff;
  font-weight: 700px;
  line-height: 19px;
}
.haeder-menu .link-adres {
  font-size: 16px;
  color: #fff;
  font-weight: 400px;
  line-height: 19px;
}
.haeder-menu .tel {
  font-size: 16px;
  color: #fff;
  font-weight: 700px;
  line-height: 19px;
}
.haeder-menu .uk:hover {
  background: #F0145A;
  border-radius: 8px;
}
.haeder-menu .ru:hover {
  background: #F0145A;
  border-radius: 8px;
}
.haeder-menu .en:hover {
  background: #F0145A;
  border-radius: 8px;
}

.link-adres {
  margin: 20px 13px;
  color: #fff;
}

.krapka,
.tochka2 {
  margin: 0px 10px 5px 10px;
}

.menu-burger {
  display: none;
  transition: 1s ease-in-out;
}
.menu-burger div {
  width: 30px;
  height: 2px;
  background: #000;
}
.menu-burger div:nth-child(2) {
  margin: 10px 0px;
}

.menu {
  display: flex;
  justify-content: end;
  margin-top: -10px;
}
.menu a {
  font-size: 18px;
  color: #fff;
  font-weight: 500px;
  line-height: 21px;
}

.menu-item {
  display: inline-block;
  margin: 7.5px;
}

.menu-item.active {
  border-bottom: 2px solid #fff;
}

.admin-1 {
  color: #fff;
  text-align: center;
  font-size: 38px;
  color: #fff;
  font-weight: 800px;
  line-height: 45px;
}

.pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 290px;
  background: url(../image/Shade.svg);
}

.experience {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  font-size: 42px;
  color: #B3B3BA;
  font-weight: 800px;
  line-height: 50px;
}
.list .item {
  color: #B3B3BA;
}

.line-1 {
  width: 4px;
  height: 50px;
  background: #F0145A;
}

.line-2 {
  width: 4px;
  height: 260px;
  background: #fff;
}

.txt {
  margin-top: 50px;
}
.txt .txt-2 {
  margin-top: 20px;
}

.p1txt {
  font-size: 32px;
  color: #fff;
  font-weight: 500px;
  line-height: 38px;
}

.p2txt {
  font-size: 21px;
  color: #fff;
  font-weight: 500px;
  line-height: 30px;
}

.section-2 {
  padding: 50px 60px 20px 60px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat bottom center;
  border-radius: 0px 0px 12px 12px;
}

.link-1 {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  font-size: 42px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.item:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  font-size: 42px;
  font-weight: 800px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.servteg {
  display: flex;
  justify-content: flex-start;
}

.services a {
  font-size: 14px;
  color: #fff;
  font-weight: 500px;
  line-height: 17px;
  word-spacing: 6px;
}

.teg {
  margin-left: -50px;
  margin-top: 50px;
}

.work {
  margin-top: 5px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  font-size: 32px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.reklama {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 68px;
  align-items: stretch;
}

.it {
  width: 450px;
}

.it-txt {
  font-size: 24px;
  color: #24A3FF;
  font-weight: 500px;
  line-height: 28px;
  margin-top: 20px;
}
.it-txt a {
  font-size: 24px;
  color: #24A3FF;
  font-weight: 500px;
  line-height: 28px;
  margin-top: 20px;
}

.it-txt-2 {
  font-size: 18px;
  color: #fff;
  font-weight: 500px;
  line-height: 26px;
  margin-top: 15px;
}

.escort {
  width: 450px;
}

.relation {
  width: 450px;
}

.contract,
.protection,
.court {
  width: 450px;
  margin-top: 68px;
}

.card,
.card-serv {
  width: 100%;
  text-align: center;
  border: none;
}

.section-carousel {
  padding: 0 60px;
  margin-top: 100px;
}

.carousel {
  background: #F5F5FA;
}

.faser, .faser-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.comand {
  margin-top: 40px;
}
.comand a {
  font-size: 14px;
  color: #24A3FF;
  font-weight: 700px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.comanda-txt {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  font-size: 42px;
  font-weight: 700px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.comanda-txt-2 {
  margin-top: 20px;
}
.comanda-txt-2 p {
  background: #B3B3BA;
  font-size: 18px;
  font-weight: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.comanda-txt-3 {
  margin-top: 5px;
}
.comanda-txt-3 p {
  background: #B3B3BA;
  font-size: 16px;
  font-weight: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  border-top: none;
  border-bottom: 0px;
  transition: none;
  margin: 10px;
  position: static;
  margin-bottom: -80px;
}

.grid {
  padding: 0 40px;
  margin-top: 40px;
}
.grid .case {
  display: grid;
  grid-template-rows: 57px 198px 200px;
  grid-gap: 2px;
}

.cell-1,
.cell {
  background: #F5F5FA;
}

.cell:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/3;
}

.cell:nth-child(2) {
  grid-row: 1/3;
  grid-column: 3/5;
}

.cell:nth-child(3) {
  grid-row: 1/3;
  grid-column: 5/6;
}

.cell:nth-child(4) {
  grid-row: 2/3;
  grid-column: 1/3;
}

.cell:nth-child(5) {
  grid-row: 3/4;
  grid-column: 1/2;
}

.cell:nth-child(6) {
  grid-row: 3/4;
  grid-column: 4/6;
}

.cell:nth-child(7) {
  grid-row: 3/4;
  grid-column: 2/4;
}

.cell-red {
  background: #F0145A;
  font-size: 14px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 20px 280px 20px 20px;
}

.cell-txt-2,
.cell-txt-3 {
  background: #686887;
  font-size: 24px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 105px 0px 0px 20px;
}

.cell-txt-4,
.cell-txt-6,
.cell-txt-7 {
  margin: 76px 0px 0px 20px;
  background: #686887;
  font-size: 24px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cell-txt-5 {
  margin: 50px 0px 0px 20px;
  background: #686887;
  font-size: 24px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cell-txt-1 {
  background: #B3B3BA;
  font-size: 18px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 20px 0 0 20px;
}

.cell-txt-12 {
  background: #B3B3BA;
  font-size: 18px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 20px 0 0 20px;
}

.cell-txt-13 {
  background: #B3B3BA;
  font-size: 18px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 50px 0 0 20px;
}

.partners {
  background: #323264;
  font-size: 14px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 30px 641px;
  text-align: center;
}

.partners-sectoin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -4px;
  width: 100%;
}

.baner-1,
.baner-2,
.baner-3,
.baner-4,
.baner-5,
.baner-6,
.baner-7,
.baner-8,
.baner-9,
.baner-10,
.baner-11,
.baner-12 {
  flex-basis: 25%;
}
.baner-1 img,
.baner-2 img,
.baner-3 img,
.baner-4 img,
.baner-5 img,
.baner-6 img,
.baner-7 img,
.baner-8 img,
.baner-9 img,
.baner-10 img,
.baner-11 img,
.baner-12 img {
  width: 100%;
}

.publish {
  background: #24A3FF;
  font-size: 14px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.history {
  padding: 40px 60px;
  background: #F5F5FA;
}
.history h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  font-size: 42px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pablic {
  display: grid;
  grid-template-rows: 265px 150px 10px 223px;
  grid-gap: 40px;
  margin-top: 40px;
}

.pablic-1:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/2;
}

.pablic-2:nth-child(2) {
  grid-row: 1/3;
  grid-column: 2/3;
}

.pablic-3:nth-child(3) {
  grid-row: 1/4;
  grid-column: 3/4;
}

.pablic-4:nth-child(4) {
  grid-row: 2/5;
  grid-column: 1/2;
}

.pablic-5:nth-child(5) {
  grid-row: 4/5;
  grid-column: 2/3;
}

.pablic-6:nth-child(6) {
  grid-row: 4/5;
  grid-column: 3/4;
}

.pablic-1,
.pablic-2,
.pablic-3,
.pablic-4 {
  background: #fff;
}
.pablic-1 p,
.pablic-2 p,
.pablic-3 p,
.pablic-4 p {
  background: #24A3FF;
  font-size: 18px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 20px;
}
.pablic-1 img,
.pablic-2 img,
.pablic-3 img,
.pablic-4 img {
  width: 100%;
}
.pablic-1 h5,
.pablic-2 h5,
.pablic-3 h5,
.pablic-4 h5 {
  background: #B3B3BA;
  font-size: 12px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 10px 20px 0 20px;
}
.pablic-1 .line,
.pablic-2 .line,
.pablic-3 .line,
.pablic-4 .line {
  width: 373px;
  height: 3px;
  background: #E6E6F0;
  margin: 20px 0 0 20px;
}
.pablic-1 .txt-p,
.pablic-2 .txt-p,
.pablic-3 .txt-p,
.pablic-4 .txt-p {
  background: #000;
  font-size: 16px;
  font-weight: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pablic-4 {
  background: url(../image/Shade-1.svg) no-repeat bottom, #fff;
}
.pablic-4 img {
  width: 100%;
}

.pablic-5 {
  position: relative;
  background: url(../image/Shade-1.svg) no-repeat bottom, url(../image/image-3.png) no-repeat bottom;
}

button {
  background: #24A3FF;
  border-radius: 15px;
  padding: 12px 60px 12px 60px;
  position: absolute;
  bottom: 0;
  margin-left: 25%;
}

button a {
  background: #fff;
  font-size: 16px;
  font-weight: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
  display: block;
}

.pablic-6 {
  background: url(../image/Shade-1.svg) no-repeat bottom, url(../image/image-4.png) no-repeat bottom;
}

.but {
  background: #24A3FF;
  border-radius: 15px;
  padding: 12px 60px 12px 60px;
  bottom: 0px;
  margin-left: 25%;
  display: block;
  position: absolute;
  margin-top: 100px;
}
.but a {
  background: #fff;
  font-size: 16px;
  font-weight: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer {
  padding: 10px 60px 0 60px;
  background: #F5F5FA;
}

.line-5 {
  height: 4px;
  background: #E6E6F0;
  margin-top: 5px;
  width: 100%;
}

.rekviz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.rekvezit-footer {
  display: flex;
}
.rekvezit-footer p {
  background: #323264;
  font-size: 16px;
  font-weight: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.tochka-2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B3B3BA;
  margin-top: 9px;
  margin-left: 30px;
}

.link-adres-1 {
  background: #24A3FF;
  font-size: 12px;
  font-weight: 700px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 10px;
}

.HLEGALS {
  background: #B3B3BA;
  font-size: 16px;
  font-weight: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer-and {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: start;
}
.footer-and .facebook {
  margin-top: -10px;
}
.footer-and .tel {
  margin-left: 1px;
}
.footer-and .email {
  margin-left: 10px;
}
.footer-and .email a {
  color: #24A3FF;
}

.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat bottom center;
  padding: 50px 60px 0 60px;
}

.breadcrambs ul {
  display: flex;
  justify-content: center;
}
.breadcrambs-item {
  margin-right: 26px;
  position: relative;
}
.breadcrambs-item:after {
  content: "";
  position: absolute;
  right: -26px;
  top: 0;
  width: 21px;
  height: 47px;
  background: url(../image/Slash.png) no-repeat;
  background-size: cover;
}
.breadcrambs-item:last-child::after {
  background: url(../image/p-small.png) no-repeat;
  width: 41px;
  height: 47px;
  right: -46px;
  top: -13px;
}

.link-15 {
  margin-top: 15px;
}

.breadcrambs-link {
  background: #fff;
  font-size: 20px;
  font-weight: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menu-list {
  margin-top: -25px;
}

.active-list {
  right: -50%;
}

.section-serv {
  margin-top: 78px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat bottom center;
  border-radius: 0px 0px 12px 12px;
}

.reklama-serv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 68px;
  align-items: stretch;
}

.about {
  padding: 50px 60px 0 60px;
}

.link-15about {
  margin-top: 15px;
}
.link-15about .breadcrambs-link-about {
  color: #323264;
}

.link-uk-about,
.link-ru-about,
.link-en-about {
  font-size: 14px;
  color: #B3B3BA;
  font-weight: 700px;
  line-height: 19px;
}

.link-adres-about {
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400px;
  line-height: 19px;
}

.tel-about {
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 700px;
  line-height: 19px;
}

.menu {
  margin-top: -25px;
  display: flex;
  justify-content: end;
  margin-top: -30px;
}
.menu a {
  font-size: 18px;
  color: #24A3FF;
  font-weight: 500px;
  line-height: 21px;
}
.menu .menu-item.active {
  border-bottom: 2px solid #F0145A;
}
.menu .menu-item.active a {
  color: #F0145A;
}

.introduction-about {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 100px 60px 0 172px;
}

.introduction {
  width: 641px;
}
.introduction h1 {
  font-size: 42px;
  color: #F0145A;
  font-weight: 500px;
  line-height: 50px;
}
.introduction p {
  font-size: 21px;
  color: #000000;
  font-weight: 500px;
  line-height: 30px;
  margin-top: 20px;
}
.introduction h2 {
  font-size: 21px;
  color: #000;
  font-weight: 500px;
  line-height: 30px;
  margin-top: 25px;
}

.line-about {
  margin-left: 42px;
  width: 4px;
  height: 307px;
  background: #E6E6F0;
}

.letter {
  margin-left: 20px;
}

.letter-1 img, .letter-2 img, .letter-3 img {
  display: inline-block;
  margin-bottom: 15px;
}
.letter-1 p, .letter-2 p, .letter-3 p {
  display: inline-block;
  font-size: 36px;
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  font-weight: 500px;
  line-height: 30px;
}

.letter-2, .letter-3 {
  margin-top: 40px;
}

.command {
  background: url(../image/comand.png) no-repeat center;
  background-size: cover;
  margin-top: 100px;
}
.command h3 {
  font-size: 96px;
  color: #fff;
  font-weight: 500px;
  line-height: 113px;
  line-height: 113px;
  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;
  padding: 163px 267px;
}

.history-11 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 123px 93px 172px;
}
.history-11 .history-0, .history-11 .history-1, .history-11 .history-2 {
  width: 641px;
}
.history-11 .history-0 p, .history-11 .history-1 p, .history-11 .history-2 p {
  font-size: 21px;
  color: #000000;
  font-weight: 500px;
  line-height: 30px;
}
.history-11 .qualiti {
  width: 414px;
}
.history-11 .qualiti h3 {
  font-size: 42px;
  color: #F0145A;
  font-weight: 500px;
  line-height: 50px;
}

.progress-carousel p {
  font-size: 14px;
  color: #323264;
  font-weight: 500px;
  line-height: 17px;
  text-align: center;
}

.progress-carousel {
  background: url(../image/grey.png) repeat-x bottom;
}

.carousel-indicators {
  margin-bottom: 0rem;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0;
  transition: none;
}

.line-6 {
  height: 4px;
  background: #E6E6F0;
  margin-top: 30px;
  width: 100%;
}

.header-tiem {
  padding: 82px 289px 0 287px;
}
.header-tiem h1 {
  font-size: 42px;
  color: #F0145A;
  font-weight: 500px;
  line-height: 50px;
}

.foto {
  padding: 80px 61px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.foto .foto-1 {
  margin: 20px;
}
.foto .foto-1 h2 {
  font-size: 18px;
  color: #323264;
  font-weight: 400px;
  line-height: 21px;
}
.foto .foto-1 p {
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400px;
  line-height: 22px;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mamber {
  padding: 80px 173px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.mamber h2 {
  font-size: 42px;
  color: #F0145A;
  font-weight: 700px;
  line-height: 22px;
}
.mamber .keriv p {
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 200px;
  line-height: 22px;
  margin-top: 17px;
}
.mamber .txt {
  margin-left: 40px;
  width: 641px;
}
.mamber .tochka {
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin-left: 10px;
}
.mamber .email-1, .mamber a {
  font-size: 16px;
  color: #24A3FF;
  font-weight: 200px;
  line-height: 22px;
  margin-left: 10px;
}

.partner {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.line-5 {
  height: 4px;
  background: #E6E6F0;
  width: 100%;
}

.txt-1 {
  margin-top: 40px;
}

.content-contact {
  padding: 82px 173px 0 173px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.rekvizit-contact {
  width: 414px;
}
.rekvizit-contact p {
  font-size: 21px;
  color: #323264;
  font-weight: 400px;
  line-height: 30px;
}
.rekvizit-contact .line-6 {
  margin-top: 20px;
}
.rekvizit-contact .tel-contact {
  margin-top: 40px;
  font-size: 21px;
  color: #46466E;
  font-weight: 400px;
  line-height: 30px;
}
.rekvizit-contact .email {
  margin-top: 20px;
  font-size: 21px;
  color: #24A3FF;
  font-weight: 400px;
  line-height: 30px;
}
.rekvizit-contact .line-7 {
  margin-top: 40px;
  height: 4px;
  background: #E6E6F0;
  width: 100%;
}
.rekvizit-contact .facebook {
  margin-top: 25px;
}
.rekvizit-contact .facebook a {
  font-size: 12px;
  color: #24A3FF;
  font-weight: 500px;
  line-height: 16px;
  display: inline-block;
  margin-left: 10px;
}
.rekvizit-contact .facebook img {
  margin-bottom: 20px;
}

.form {
  width: 527px;
  background: #F5F5FA;
  border-radius: 12px;
  position: relative;
  height: 576px;
}
.form h2 {
  font-size: 32px;
  color: #F0145A;
  font-weight: 700px;
  line-height: 50px;
  text-align: center;
}
.form p {
  margin-left: 30px;
  font-size: 14px;
  color: #B3B3BA;
  font-weight: 700px;
  line-height: 50px;
}

.name-form, .tel-form, .email-form {
  margin: 20px;
}
.name-form input, .name-form txt, .tel-form input, .tel-form txt, .email-form input, .email-form txt {
  width: 487px;
  height: 47px;
  border-radius: 8px;
  padding-left: 10px;
}

.meseng-form {
  margin: 0px 20px;
}
.meseng-form input, .meseng-form txt {
  width: 487px;
  height: 180px;
  border-radius: 8px;
  padding: 11px 357px 143px 10px;
}

.button-2 {
  background: #24A3FF;
  border-radius: 15px;
  padding: 12px 60px 12px 60px;
  bottom: -40px;
  margin-left: 25%;
  display: block;
  position: absolute;
}
.button-2 a {
  background: #fff;
  font-size: 16px;
  font-weight: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.maps {
  margin-top: 80px;
}
.maps iframe {
  width: 100%;
}

.services-page {
  background: url(../image/Bg-2.png) no-repeat;
  background-size: cover;
  padding: 50px 60px 0 60px;
}

.serv-page {
  text-align: center;
  margin-top: 52px;
  width: 861px;
  margin-left: 300px;
}
.serv-page h1 {
  margin-top: 20px;
  font-size: 42px;
  color: #F0145A;
  font-weight: 700px;
  line-height: 50px;
}

.page-content p {
  margin-top: 20px;
  font-size: 21px;
  color: #fff;
  font-weight: 500px;
  line-height: 30px;
}
.page-content h2 {
  margin-top: 20px;
  font-size: 21px;
  color: #fff;
  font-weight: 500px;
  line-height: 30px;
}

.but {
  margin-top: 40px;
  position: relative;
  background: #24A3FF;
  border-radius: 15px;
  margin-left: 280px;
}
.but a {
  background: #fff;
  font-size: 16px;
  font-weight: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.line-serv {
  height: 4px;
  background: #fff;
  margin-top: 80px;
}

.list-3 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.list-1, .list-2 {
  width: 500px;
}
.list-1 li, .list-2 li {
  list-style: disc;
}

li::marker {
  color: #F0145A;
}

h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 500px;
  line-height: 26px;
}

.disc, .disc-2 {
  list-style-type: disc;
  font-size: 18px;
  color: #fff;
  font-weight: 500px;
  line-height: 26px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: url(../image/Rectangle.png);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.modal__close-button {
  background: #ff0000;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.modal__close-button:hover {
  transition: 0.3s;
  transform: rotate(180deg);
}

.modal__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.modal__description {
  font-size: 1.125rem;
}/*# sourceMappingURL=style.css.map */