@import 'veriable';
@import 'mixins';
*,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
.header{
  
  padding: 50px 60px 20px 60px;
  background:url(../image/Symbol.svg) no-repeat bottom center,
  url(../image/pattern.svg) no-repeat bottom center,
  linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
  .haeder-menu {
    @include fb();
  .menu-rekvszit{
    @include fa();
    .uk,.en{
      margin: 5px;
  
    }
.uk:hover{
  background: #F0145A;
border-radius: 8px;
}
.ru:hover{
  background: #F0145A;
  border-radius: 8px;

}
.en:hover{
background: #F0145A;
border-radius: 8px;

}
}
    .link-adres{
      margin: 20px 13px;
    }
    
    .krapka,.tochka2{
      margin: 0px 10px 5px 10px; 
    }
    
  }

  
    
   
