@import url(./font.css);
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: "TT Norms", sans-serif;
}

.header {
  padding: 50px 60px 20px 60px;
  background: url(../image/Symbol.svg) no-repeat bottom center, url(../image/pattern.svg) no-repeat bottom center, linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.haeder-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.haeder-menu .menu-rekvszit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.haeder-menu .menu-rekvszit .uk,
.haeder-menu .menu-rekvszit .en {
  margin: 5px;
}
.haeder-menu .menu-rekvszit .link-uk,
.haeder-menu .menu-rekvszit .link-ru,
.haeder-menu .menu-rekvszit .link-en {
  color: #fff;
  font-size: 14px;
  color: #fff;
  font-weight: 700px;
  line-height: 19px;
}
.haeder-menu .menu-rekvszit .link-adres {
  font-size: 16px;
  color: #fff;
  font-weight: 400px;
  line-height: 19px;
}
.haeder-menu .menu-rekvszit .tel {
  font-size: 16px;
  color: #fff;
  font-weight: 700px;
  line-height: 19px;
}
.haeder-menu .menu-rekvszit .uk:hover {
  background: #F0145A;
  border-radius: 8px;
}
.haeder-menu .menu-rekvszit .ru:hover {
  background: #F0145A;
  border-radius: 8px;
}
.haeder-menu .menu-rekvszit .en:hover {
  background: #F0145A;
  border-radius: 8px;
}
.haeder-menu .link-adres {
  margin: 20px 13px;
  color: #fff;
}
.haeder-menu .krapka,
.haeder-menu .tochka2 {
  margin: 0px 10px 5px 10px;
}

.menu-burger {
  display: none;
}
.menu {
  display: flex;
  justify-content: end;
  margin-top: -30px;
}
.menu a {
  font-size: 18px;
  color: #fff;
  font-weight: 500px;
  line-height: 21px;
}

.menu-item {
  display: inline-block;
  margin: 7.5px;
}

.admin-1 {
  color: #fff;
  text-align: center;
  margin-top: 243px;
  font-size: 38px;
  color: #fff;
  font-weight: 800px;
  line-height: 45px;
}

.pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 290px;
}

.experience {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  padding: 80px 173px 100px 60px;
  margin-top: 100px;
  font-size: 42px;
  color: #B3B3BA;
  font-weight: 800px;
  line-height: 50px;
}
.list .item {
  color: #B3B3BA;
}

.line-1 {
  width: 4px;
  height: 50px;
  background: #F0145A;
}

.line-2 {
  width: 4px;
  height: 310px;
  background: #fff;
}

.txt {
  margin-top: 151px;
}
.txt .txt-2 {
  margin-top: 20px;
}

.p1txt {
  font-size: 32px;
  color: #fff;
  font-weight: 500px;
  line-height: 38px;
}

.p2txt {
  font-size: 21px;
  color: #fff;
  font-weight: 500px;
  line-height: 30px;
}

.link-1 {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  font-size: 42px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.item:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  font-size: 42px;
  font-weight: 800px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.servteg {
  display: flex;
  justify-content: flex-start;
}

.services a {
  font-size: 14px;
  color: #fff;
  font-weight: 500px;
  line-height: 17px;
  word-spacing: 6px;
}

.teg {
  margin-left: 5.5px;
  margin-top: 1.5px;
}

.work {
  margin-top: 5px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  font-size: 32px;
  font-weight: 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.reklama {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 68px;
  align-items: stretch;
}

.it {
  width: 450px;
}

.it-txt {
  font-size: 24px;
  color: #24A3FF;
  font-weight: 500px;
  line-height: 28px;
  margin-top: 20px;
}

.it-txt-2 {
  font-size: 18px;
  color: #fff;
  font-weight: 500px;
  line-height: 26px;
  margin-top: 15px;
}

.escort {
  width: 450px;
}

.relation {
  width: 450px;
}

.contract,
.protection,
.court {
  width: 450px;
  margin-top: 68px;
}

.card {
  padding: 0px 60px 0px 10px;
}/*# sourceMappingURL=style.css.map */