// colors
$bg:linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$bg-2:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$blu:#24A3FF;
$red:#F0145A;
$gray-txt:#B3B3BA;
$gray-bg:#F5F5FA;
$gray-txt2:#686887;
$main:#323264;
$gray-foot:#46466E;